<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <configSections>
    </configSections>
    <connectionStrings>
        <add name="PjtControlEPP.Properties.Settings.CadenaConexion"
            connectionString="server=navarrowindows.ddns.net;user id=victor;password=yeremy01;persistsecurityinfo=True;database=datoseppinvpro"
            providerName="MySql.Data.MySqlClient" />
    </connectionStrings>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.5" />
    </startup>
</configuration>